body{
    background-color: aquamarine;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
#main{
    background-color: rgb(117, 84, 148);
    padding: 2rem 0;
}
h1{
    padding: 2rem 0;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    text-align: center;
}
h2{
    padding-bottom: 1rem;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
button{
    display: block;
    margin: 1rem auto;
    font-size: 20px;
    color: white;
    background-color: hotpink;
    border-radius: 10px;
    border: none;
    padding: .8rem 1rem;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: hotpink;
}

/* media query with net hub */
@media only screen and (max-width:960px){
    #main{
        background-color: rgb(165, 63, 63);
    }

    h1{
        font-size: 45px;
    }
    h2{
        font-size:35px ;
    }
    
}


/* media query with Tablet */
@media only screen and (max-width:880px){
    #main{
        background-color:rgb(57, 163, 57);
    }

    h1{
        font-size: 40px;
    }
    h2{
        font-size:30px ;
    }
    
}


/* media query with iphone */
@media only screen and (max-width:768px){
    #main{
        background-color:rgb(133, 176, 31);
    }

    h1{
        font-size: 30px;
    }
    h2{
        font-size:25px ;
    }
    
}

