h1,p{
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}
h1{
    font-size: 30px;
    color: blueviolet;
}
p{
    font-size: 25px;
    color: palevioletred;

}
h2{
    font-size: 20px;
    background-color: aqua;
    color: black;
    padding: 20px;
}