@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&display=swap');

body{
    background-color: rgb(197, 184, 184);
}
/* css fonts */
.container{
    padding: .5rem 3rem;
}
h1{
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#heading1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#heading2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#heading3{
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Montserrat', sans-serif;
}
.para{
    font-size: 1.2rem;
    font-family: 'Dancing Script', cursive;
}

/* Z-index */
.box{
    height: 10rem;
    width: 10rem;
}
#box1{
   background-color: yellow;
   border: 2px solid green;
   position: absolute;
   z-index: -1;
}
#box2{
    background-color:hotpink;
    border: 2px solid  black;
    z-index: 22;
    margin-left: 5rem;
    margin-top: 5rem;
 }
 /* css dimentions  styel*/
 #dim_box1{
     border: 2px solid green;
     background-color: aqua;
     min-width: 3rem;
     min-height: 3rem;
     padding: 0 2rem;
 }
 #dim_box2{
    border: 2px solid green;
    background-color: aqua;
    max-width: 20rem;
    max-height: 5rem;
    padding: 0 2rem;
}
/* display style */
#display1,#facebook,#gmail,#instagram, #youtube{
    padding: .4rem 1rem;
  
}
#display1{
    background-color: rgb(160, 76, 238);
    display: inline;
   
}
a{
    font-size: 25px;
    margin-top:2rem;
    margin-right: 2rem;
    height: 2.5rem;
}
#google{
    padding: 0 2rem;
}
#facebook {
    display: block;
    background-color: brown;
}
#gmail {
    display:inline-block;
    background-color:green;
}
#instagram {
    display:none;
    /* background-color:rgb(128, 0, 6); */
}

#youtube {
    visibility: hidden;
    background-color:rgb(111, 125, 193);
}
#position{
background-color: hotpink;
border: 2px solid green;
padding: 1rem 2rem;
}
#position h2{
    color: rgb(34, 34, 179);
}

.btn{
    background-color: rgb(91, 182, 63);
    border: 2px solid gray;
    padding: .5rem 1rem;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
}
.btn:hover{
    color: rgb(91, 182, 63);
    border: 2px solid gray;
    padding: .5rem 1rem;
    background-color: white;
}
#rel_btn{
    position: relative;
   top:-9rem; 
    right:-72rem ;
   
}
#absolute{
    position: relative;
}
#abso_btn{
   position: absolute;
   top:-1rem;
   right:3rem ;
}
/* fiexd */
#position_fixed{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color:rgb(22, 157, 22);
    position: fixed;
    top:40rem;
    right:3rem;
    margin: 1rem 2rem;
}
#position_fixed h3{
    text-align: center;
}

/* sticky */
#position_sticky{
    background-color: orangered;
    border: 2px  solid greenyellow;
    padding: 1rem;
    position: sticky;
    top:0rem;
    right: 2rem;
}


/* Dummy text */
#Dummy_text{
    background-color: rgb(169, 77, 77);
    border: 2px solid gray;
    padding: 2rem;
}