body{
    background-color:rgb(115, 190, 190);
   
}
html{
    font-size: 10px;
}
h1,h2,h3{
    margin-left:100px;
}
 h1 {
    font-size: 40px;
    font-weight: bold;
    color:red;
}
 h2{
    font-size: 35px;
    font-weight: bold;
    color: black;
}
#px{
    height: 300px;
    background-color: rgb(64, 18, 107);
    width: 300px;
}
#emparent{
    background-color: rgb(206, 84, 68); 
    font-size: 20px;
     
}
#em1{
    background-color: rgb(118, 118, 193);
    font-size: 1em;
}
#em2{
    background-color: rgb(18, 123, 60);
    font-size: 2em;
}

/* rem style */
#remparent{
    background-color: rgb(178, 26, 110); 
     
}
#rem1{
    background-color: rgb(77, 77, 151);
    font-size: 4rem;
}
#rem2{
    background-color: rgb(123, 18, 18);
    font-size: 3rem;
}
/* percentage */
#per_parent{
    background-color: rgb(26, 136, 70);
    width: 500px;
    height: 300px;
}
#percent{
    background-color: rgb(136, 26, 35);
    width: 50%;
    height: 50%;

}
/* vh and vw */
#vh_vw_parent{
    background-color: blueviolet;
    width: 50vw;
    height: 50vh;

}
#vh_vw_child{
    background-color: rgb(106, 155, 98);
    width: 70vw;
    height: 30vh;
}

