body{
    background-color: rgb(231, 226, 226);
}
h1,h2{
    padding-left: 50px;
}
.container{
    background-color: rgb(102, 194, 186);
    display: grid;
    padding: 1rem;
    height: 70vh;
    /* /* grid-template-rows: 150px 150px; */
     grid-template-columns: 2fr 1fr 1fr; 
    gap:.5rem;
    /* grid-auto-rows: 150px; */

}
.box{
    background-color: rgb(164, 110, 215);
}
#box3{
    grid-row: 6/7;
    grid-column: 2/3;
}
#box7{
    grid-column: 3/4;
    grid-row: 1/6;
}
#box10{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end:5; 
}
.container > div {
    font-size: 30px;
    text-align: center;
    line-height: 90px;
}